*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1.125rem, 0.3438rem + 2.5vw, 1.75rem);
    color: white;
    
}
html{
    font-size: 62.5%;
}
